<div class="container-fluid mt-5">
  <img class="profile-img" [src]="imageUrl" alt="Miguel Gutiérrez">
  <section class="about-info">
    <h2>{{ label('profileHeading') }}</h2>
    <p>{{ paragraph(0) }}</p>
    <p>{{ paragraph(1) }}</p>
  </section>
</div>
<div class="contact">
  <span class="text-center">{{ label('emailLabel') }}: {{ emails.join(' - ') }}</span>
</div>
<div class="icons-container">
  <br>
  <div class="icons">
    @for (link of socialLinks; track link.id) {
      <img (click)="goToExternalLink(link.url)" class="mr-3" [src]="link.iconUrl" [alt]="link.label">
    }
  </div>
</div>
