<div class="container-fluid mt-5">
  <img class="profile-img" src="../../../../assets/Fotografia_Miguel_Gutierrez.jpg"
       alt="Miguel Gutiérrez">
  <section class="about-info">
    <h2>{{language === 'Spanish' ? 'Sobre mí' : 'About me'}}</h2>
    <p>{{language === 'Spanish' ? text1Spanish : text1English}}</p>
    <p>{{language === 'Spanish' ? text2Spanish : text2English}}</p>
  </section>
</div>
<div class="contact">
  <span class="text-center">{{language === 'Spanish' ? 'Correo' : 'Email'}}: migueangel97&#64;hotmail.com - miguelangelgi.97&#64;gmail.com</span>
</div>
<div class="icons-container">
  <br>
  <div class="icons">
    <img (click)="goToExternalLink(linkedInUrl)" class="mr-3"
         src="https://image.flaticon.com/icons/png/512/174/174857.png" alt="LinkedIn">
    <img (click)="goToExternalLink(gitHubUrl)" class="mr-3" src="https://image.flaticon.com/icons/png/512/25/25231.png"
         alt="GitHub">
  </div>
</div>
