hr
  color: black
  opacity: 1

.about-info
  border-radius: 15px
  border: 1px solid black

.contact
  width: 100%
  display: flex
  margin-top: 20px
  span
    margin-left: auto
    margin-right: auto

.icons-container
  width: 100%
  margin-bottom: 20px
  display: flex
  .icons
    margin-left: auto
    margin-right: auto
    order: 2
    img
      width: 40px
      height: 40px

@media (max-width: 575px)
  .profile-img
    width: 50%
    display: flex
    margin-left: auto
    margin-right: auto
    margin-bottom: 15px

  .about-info
    width: 100%
    border-radius: 15px
    border: 1px solid black
    h2
      text-align: center
      margin-left: auto
      margin-right: auto
      width: 100%
    p
      width: 90%
      text-align: justify
      text-justify: inter-word
      margin-left: auto
      margin-right: auto

@media (min-width: 576px) and (max-width: 768px)
  .profile-img
    width: 30%
    display: flex
    margin-left: auto
    margin-right: auto
    margin-bottom: 15px

  .about-info
    width: 90%
    border-radius: 15px
    border: 1px solid black
    margin-left: auto
    margin-right: auto
    h2
      text-align: center
      margin-left: auto
      margin-right: auto
      width: 100%
    p
      width: 90%
      text-align: justify
      text-justify: inter-word
      margin-left: auto
      margin-right: auto

@media (min-width: 769px)
  .container-fluid
    width: 80%
    display: flex
    margin-left: auto
    margin-right: auto

  .profile-img
    margin-left: 10%
    width: 20%
    margin-right: 20px

  .about-info
    width: 60%
    border-radius: 15px
    border: 1px solid black
    h2
      text-align: center
      margin-left: auto
      margin-right: auto
      width: 100%
    p
      width: 90%
      text-align: justify
      text-justify: inter-word
      margin-left: auto
      margin-right: auto
