<app-navbar (changeLanguage)="onChangeLanguage()" (changeOption)="onChangeOption($event)"></app-navbar>
<app-profile [language]="language" *ngIf="option === 'About' || option === 'Sobre mí'"></app-profile>
<app-projects [language]="language" *ngIf="option === 'Projects' || option === 'Proyectos'"></app-projects>
<app-experience [language]="language" *ngIf="option === 'Experience' || option === 'Experiencia'"></app-experience>
<app-courses [language]="language" *ngIf="option === 'Courses' || option === 'Cursos'"></app-courses>
