<app-navbar (changeLanguage)="onChangeLanguage()" (changeOption)="onChangeOption($event)"></app-navbar>
@if (option === 'About' || option === 'Sobre mí') {
  <app-profile [language]="language"></app-profile>
}
@if (option === 'Projects' || option === 'Proyectos') {
  <app-projects [language]="language"></app-projects>
}
@if (option === 'Experience' || option === 'Experiencia') {
  <app-experience [language]="language"></app-experience>
}
@if (option === 'Courses' || option === 'Cursos') {
  <app-courses [language]="language"></app-courses>
}
