@if (selectedJobSpanish && selectedJobEnglish) {
  <app-job-detail class="alert-box" [jobSpanish]="selectedJobSpanish" [jobEnglish]="selectedJobEnglish"
    [language]="language"
  (closeAlert)="onCloseAlert()"></app-job-detail>
}
@if (!selectedJobSpanish && !selectedJobEnglish) {
  <div>
    <h1 class="text-center">{{language === 'Spanish' ? 'Experiencia laboral' : 'Professional History'}}</h1>
    @for (work of spanishExperience; track work; let i = $index) {
      <section class="custom-container">
        <div class="custom-card">
          <div class="img-container">
            <img class="job-img" src="{{spanishExperience[i].image}}"
              alt="{{spanishExperience[i].enterprise}}">
          </div>
          <div class="content">
            <h5>{{language === 'Spanish' ? spanishExperience[i].charge : englishExperience[i].charge}}</h5>
            <p>{{language === 'Spanish' ? spanishExperience[i].enterprise + ' | ' + spanishExperience[i].duration :
            englishExperience[i].enterprise + ' | ' + englishExperience[i].duration}}</p>
            <div class="btn-more">
              <button class="btn btn-primary"
              (click)="onSelectJob(i)">{{language === 'Spanish' ? 'Ver más' : 'See more'}}</button>
            </div>
          </div>
        </div>
      </section>
    }
  </div>
}
