<app-job-detail class="alert-box" [jobSpanish]="selectedJobSpanish" [jobEnglish]="selectedJobEnglish"
                [language]="language"
                *ngIf="selectedJobSpanish && selectedJobEnglish" (closeAlert)="onCloseAlert()"></app-job-detail>
<div *ngIf="!selectedJobSpanish && !selectedJobEnglish">
  <h1 class="text-center">{{language === 'Spanish' ? 'Experiencia laboral' : 'Professional History'}}</h1>
  <section class="custom-container" *ngFor="let work of spanishExperience; let i = index">
    <div class="custom-card">
      <div class="img-container">
        <img class="job-img" src="{{spanishExperience[i].image}}"
             alt="{{spanishExperience[i].enterprise}}">
      </div>
      <div class="content">
        <h5>{{language === 'Spanish' ? spanishExperience[i].charge : englishExperience[i].charge}}</h5>
        <p>{{language === 'Spanish' ? spanishExperience[i].enterprise + ' | ' + spanishExperience[i].duration :
          englishExperience[i].enterprise + ' | ' + englishExperience[i].duration}}</p>
        <div class="btn-more">
          <button class="btn btn-primary"
                  (click)="onSelectJob(i)">{{language === 'Spanish' ? 'Ver más' : 'See more'}}</button>
        </div>
      </div>
    </div>
  </section>
</div>
